<% if signed_in? %>
    <%= render "static_pages/signined_home" %>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to my Twitter clone</h1>
  <h2>
    This is an app that I made when I learn
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    .
  </h2>

    <%= link_to "Sign up now!",signup_path,class:"btn btn-large btn-primary" %>

</div>

<div class="hero-unit sample_feed">
  <% if @feed_items.any? %>
      <h3>Most Recent News</h3>
      <ol class="microposts">
        <%= render partial: 'shared/feed_item', collection: @feed_items %>
      </ol>
  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
