
  <div class = "span2">
    <span><%= number_of_following(user) %></span>
    <span>following</span>
  </div>

  <div class = "span2">
    <span><%= number_of_followers(user) %></span>
    <span><%= "follower".pluralize(number_of_followers(user)) %></span>
  </div>


