    <span><%= link_to "#{ number_of_following(user) } following", following_user_path(user) %></span>
    <span><%= link_to pluralize(number_of_followers(user),"follower"),followers_user_path(user) %></span>